@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.chat-header-container {
    font-size: 2vw;
    background-color: #598392;
    text-align: center;
    padding-left: 1vw;
    font-family: 'Bungee', cursive;
    color: #EFF6E0;
    /* border-bottom: 3px solid #EFF6E0; */
}

.header-logo {
    max-width: 5vh;
    margin-left: 1vh;
    transform: rotate(13deg);
}

.header-logo::selection {
    color: none;
    background: none;
}