@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.landing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.landing-card {
    margin-left: 10%;
    width: 50%;
    background-color: '#AEC3B0';
}

.landing-picture {
    margin-right: 40%;
    max-width: 15vh;
}