.messaging-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messaging-input {
    margin-left: 10%;
    margin-right: 10%;
}

.user-message {
    display: flex;
    padding-top: 10px;
    margin-left: 3vh;
    justify-content: flex-end;
    margin-right: 3vh;
}

.user-text {
    margin-right: "2vh";
}

.cat-message {
    display: flex;
    margin-left: 3vh;
    padding-top: 10px;
}