.messaging-outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 80%; */
    /* margin-left: 10%;
    margin-right: 10%; */
}

.messaging-input {
    margin-left: 10%;
    margin-right: 10%;
}

.user-message {
    display: flex;
    margin-left: 3vh;
    align-self: flex-end;
}